body {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70%;
  background-position-x: 40rem;
  background-position-y: 10rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;

  width: 10rem;
}